module Airplane
  class Event < ActiveRecord::Base
    self.table_name = 'airplane_events'<% unless postgresql? %>

    serialize :properties<% end %>

    belongs_to :target, polymorphic: true

    validates :name, presence: true
    validates :occurred_at, presence: true
  end
end
